.jumbotron {
    font-family: cursive;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.img-desk {
    max-width: 100%;
}

.container-desk {
    margin: 0;
    padding: 0;
    border: 0;
}

.row-desk {
    margin: 0;
    padding: 0;
    border: 0;
}

.col-desk {
    margin: 0;
    padding: 0;
    border: 0;
}
.card-mareo {
    padding: 0;
}