body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;

}

header h1 {
    font-size: 120px;
}
header h2 {
    color: #20cce2;
    font-size: 50px;
}

footer {
    background-image: linear-gradient(#ffd9c8, white);
    padding: 20px 0;
}

.jumbotron {
    text-align: center;
    margin-bottom: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.img-desk {
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.container-desk {
    margin: 0;
    padding: 0;
    border: 0;
}

.row-desk {
    margin: 0;
    padding: 0;
    border: 0;
}

.col-desk {
    margin: 0;
    padding: 0;
    border: 0;
}
